/*** sectioning elements ***/

body {
  background-color: #bcb2b5;
}

header {

}

main {

}

footer {
  font-family: 'Cinzel', serif;
}

nav {

}

section {

}

aside {

}


/**** content styles ***/
.lightbox-gallery a{
  text-decoration: none;
}

.lightbox-gallery img {
  border: 1px solid #bbb;
  padding: 4px;
}

.lightbox-gallery .allthisbadblood:hover{
  box-shadow: 3px 3px 3px #6e6060;
}
.lightbox-gallery .badblood:hover{
  box-shadow: 3px 3px 3px #734f2d;
}
.lightbox-gallery .goodgrief:hover{
  box-shadow: 3px 3px 3px #f2a727;
}
.lightbox-gallery .heartache:hover{
  box-shadow: 3px 3px 3px #64080b;
}
.lightbox-gallery .laughter:hover{
  box-shadow: 3px 3px 3px #63473c;
}
.lightbox-gallery .laurapalmer:hover{
  box-shadow: 3px 3px 3px #8c0830;
}
.lightbox-gallery .lostinflame:hover{
  box-shadow: 3px 3px 3px #92744e;
}
.lightbox-gallery .oblivion:hover{
  box-shadow: 3px 3px 3px #181f18;
}
.lightbox-gallery .ofthenight:hover{
  box-shadow: 3px 3px 3px #af6a89;
}
.lightbox-gallery .overjoyed:hover{
  box-shadow: 3px 3px 3px #898697;
}
.lightbox-gallery .pompei:hover{
  box-shadow: 3px 3px 3px #2c3d4d;
}
.lightbox-gallery .vs:hover{
  box-shadow: 3px 3px 3px #445bdd;
}

.lightbox-gallery img:hover{
  box-shadow: 3px 3px 3px #888;
}

h1 {
  font-family: 'Cinzel', serif;

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

blockquote {

}

ol {

}

ul {

}

li {

}

table {

}

tr {

}

th {

}

td {

}


/*** image styles ***/

img  {

}


/*** link styles ***/

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}
